<form (ngSubmit)="save()">
  <mat-card-title>
    Personal Information
  </mat-card-title>
  <mat-card-content>
    <label>Upload Image</label>
    <input id="userImg" type="file" accept="image/gif, image/jpg, image/png, image/jpeg">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input
        id="firstName"
        matInput
        [(ngModel)]="temporaryUserInfo.firstName"
        type="text"
        name="firstName"
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input
        id="lastName"
        matInput
        [(ngModel)]="temporaryUserInfo.lastName"
        type="text"
        name="lastName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input
        id="phone"
        matInput
        [(ngModel)]="temporaryUserInfo.phone"
        type="tel"
        name="phone">
    </mat-form-field>
    <mat-form-field appearance ="fill">
      <mat-label>E-mail List</mat-label>
    <mat-chip-list #alternateEmails>
      <mat-chip
        matTooltip="User email can't be changed" matTooltipPosition="above"
        matTooltipClass="red-tooltip"
      >
        {{temporaryUserInfo.email}}
      </mat-chip>
      <mat-chip
        *ngFor="let email of temporaryUserInfo.alternateEmails; index as i"
        (removed)="deleteEmail(i)"
      >
        {{email}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        [matChipInputAddOnBlur]="true"
        [matChipInputFor]="alternateEmails"
        (matChipInputTokenEnd)="addEmail($event.value)"
      >
    </mat-chip-list>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" type="submit">Save</button>
    <button mat-button color="warn" type="button" (click)="cancelEdit()">Cancel</button>
  </mat-card-actions>
</form>
